:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}


[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

html, body {
  margin: 0;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}


body {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  width: 100vw;
  height: 100%;
  min-height: -webkit-fill-available;
}

nav, footer {
  background: rgb(239, 239, 239);
}

nav {
  padding: 50px 25px;
  padding-bottom: 10px !important;
  border-bottom: 1px solid gainsboro;
}

footer {
  padding: 10px 25px;
  padding-bottom: 20px;
  border-top: 1px solid gainsboro;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px 50px;
  padding: 25px 50px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  overflow: auto;
}

main > * {
  flex-grow: 1;
  height: 100%;
}

#console {
  width: min-content;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#console::before {
  content: 'Console';
  font-weight: bold;
  font-size: medium;
  display: block;
  padding: 10px 15px;
  width: 100%;
  color: white;
  background: #0f0f0f;
}

#messages {
  height: 100%;
  white-space: pre;
  font-size: 90%;
  overflow: auto;
}

/* Don't break whitespace characters */
#messages > div {
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid gainsboro;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-weight: 900;
  margin: 0;
}

#commoners-header {
  font-weight: 700;
  text-transform: uppercase;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#commands {
  overflow-y: auto;
  font-weight: bold;
}

#commands small {
  font-size: 0.8em;
  color: gray;
  font-weight: 500;
}

#commands .tags {
  font-size: 0.8em;
}

#commands li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 90%;
  gap: 15px;
  margin: 0;
  padding: 10px 0px;
}

.tags {
  display: flex;
  gap: 5px;
  user-select: none;
  padding-top: 10px;
}

.tags > * {
  padding: 0px 10px;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

button { 
  text-align: left;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

@media (min-width:641px) {
  nav {
    padding: 20px;
  }

  footer {
    padding-bottom: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  nav, footer {
    background-color: #0f0f0f98;
    border-color: #555555;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }

  #console {
    color: black;
    background-color: white;
  }

}
